body {
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item {
	font-family: 'Righteous';
	font-size: 500px;
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px 40px 40px 40px;
}

#one {
	background: rgb(41,255,98);
	background: linear-gradient(180deg, rgba(41,255,98,1) 0%, rgba(0,160,198,1) 100%);
	border-style: solid;
	border-width: 35px;
	border-color: #ffa2c8;
	animation: textflicker 3s linear infinite;
	color: #ff1172;	
}

#three {
	background: rgb(255,162,200);
	background: linear-gradient(180deg, rgba(255,162,200,1) 0%, rgba(255,17,114,1) 100%);
	border-style: solid;
	border-radius: 100px;
	border-width: 35px;
	border-color: #29ff62;
	color: #ffa2c8;
	animation: textflicker 10s linear infinite;
}

#two {
	background: rgb(41,255,98);
	background: linear-gradient(180deg, rgba(0,160,198,1) 0%, rgba(41,255,98,1) 100%);
	border-radius: 100px;
	color: #ff1172;
	animation: textflicker 15s linear infinite;
}

#four {
	background: rgb(41,255,98);
	background: #ff1172;
	color: #00a0c6;
	animation: textflickerblue 20s linear infinite;
}

#five {
	background: rgb(41,255,98);
	background: #29ff62;
	border-style: solid;
	border-width: 35px;
	border-color: #ffa2c8;
	border-radius: 100px;
	color: #ff1172;
	animation: textflicker 25s linear infinite;
}

@media (max-width: 700px) {
	#one {
		font-size: 10vh;
		margin: 10px 10px 10px 10px;
		border-width: 15px;
	}
	#two {
		font-size: 10vh;
		margin: 10px 10px 10px 10px;
		border-width: 15px;
		border-radius: 30px;
	}
	#three {
		font-size: 10vh;
		margin: 10px 10px 10px 10px;
		border-width: 15px;
		border-radius: 30px;
	}
	#four {
		font-size: 10vh;
		margin: 10px 10px 10px 10px;
		border-width: 15px;
	}
	#five {
		font-size: 10vh;
		margin: 10px 10px 10px 10px;
		border-width: 15px;
		border-radius: 30px;
	}
}


@keyframes textflicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(255, 17, 115, 100);
  }
  
  2% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(255, 17, 115, 100);
  }
  8% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(255, 17, 115, 100);
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(255, 17, 115, 100);
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px rgba(255, 17, 115, 100);
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(255, 17, 115, 100)
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 29px rgba(255, 17, 115, 100)
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(255, 17, 115, 100)
  }
  
  70% {
    opacity:0.7;
    text-shadow: 0px 0px 29px rgba(255, 17, 115, 100)
  }
  
  72% {
    opacity:0.2;
    text-shadow:0px 0px 29px rgba(255, 17, 115, 100)
  }
  
  77% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(255, 17, 115, 100)
  }
  100% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(255, 17, 115, 100)
  }
}

@keyframes textflickerblue {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(0, 160, 198, 1);
  }
  
  2% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(0, 160, 198, 1);
  }
  8% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(0, 160, 198, 1);
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(0, 160, 198, 1);
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px rgba(0, 160, 198, 1);
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(0, 160, 198, 1)
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 29px rgba(0, 160, 198, 1)
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(0, 160, 198, 1)
  }
  
  70% {
    opacity:0.7;
    text-shadow: 0px 0px 29px rgba(0, 160, 198, 1)
  }
  
  72% {
    opacity:0.2;
    text-shadow:0px 0px 29px rgba(0, 160, 198, 1)
  }
  
  77% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(0, 160, 198, 1)
  }
  100% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(0, 160, 198, 1)
  }
}