body {
	color: white;
	font-family: 'Poiret One', cursive;
	font-size: 25px;
	background-color: black;
}

h2 {
	text-align: left;
}

h1 {
	margin: 10px 0px;
	font-size: 65px;
    text-align: center;
}

.number {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	
}

.number div {
	margin: 10px 10px;
	font-size: 40px;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: red;
}

a:hover {
  color: grey;
}

a:active {
	color: red;
}