* {
    cursor: url(../../customcursor.png), auto;
}

body {
	color: white;
	font-family: 'Poiret One', cursive;
	font-size: 25px;
	background-color: black;
}

.header {
	font-size: 65px;
	font-weight: bold;
	margin: 10px 0px;
    text-align: center;
}

h2 {
	text-align: left;
}

h1 {
	margin: 10px 0px;
	font-size: 65px;
}

.number {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	
}

.number div {
	margin: 10px 10px;
	font-size: 40px;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: red;
}

a:hover {
  color: grey;
}

a:active {
	color: red;
}

img {
	max-width: 100%;
	max-height: 600px;
}

.image {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 100%;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 90%;
  transition: .5s ease;
  opacity:0;
  color: darkgrey;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	
}